/* Vic Bobkov
* veeb.css
* 2014-02-09
*/

body {
	font-family: arial,sans-serif;
	font-size: 100%;
	margin: 0em;
	padding: 0em;
}

pre,
textarea {
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

/* menu */
.menu-item {
	display: inline-block;
}

.menu-item-list {
	display: none;
	position: absolute;
}

.menu-item-list .menu-item {
	display: block;
}

.menu-item:hover >.menu-item-list {
	display: inline-block;
}



/* menu styling */
.menu {
	border: 0.25em ridge rgb(192,192,192);
	border-top: none;
	font-size: 100%;
	height: 1.75em;
	margin: 0em 1.25em 0em 1.25em;
	position: relative;

	background: rgb(192,192,192); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(192,192,192) 0%, rgb(224,224,224) 50%, rgb(255,255,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(192,192,192)), color-stop(50%,rgb(224,224,224)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(192,192,192) 0%,rgb(224,224,224) 50%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(192,192,192) 0%,rgb(224,224,224) 50%,rgb(255,255,255) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(192,192,192) 0%,rgb(224,224,224) 50%,rgb(255,255,255) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(192,192,192) 0%,rgb(224,224,224) 50%,rgb(255,255,255) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 0em 0em 1em 1em;
	-moz-border-radius: 0em 0em 1em 1em;
	border-radius: 0em 0em 1em 1em;
}

.menu-item-list .menu-item {
	border-bottom: 1px solid rgba(128,128,128,1);
}

.menu .menu-item:hover {
	background-color: rgb(192,192,192);
	color: rgb(0,255,0);
}

.menu >.menu-item:hover {
	background: rgba(128,128,128,0.25);
	color: rgb(0,0,255);
}

.menu >.menu-item,
.menu-item-list .menu-item:last-child {
	border-bottom: none;
}

.menu-item a {
	color: rgb(0,0,224);
	display: block;
	padding: 0.25em 1em 0.25em 1em;
	text-decoration: none;
}

.menu-item a:hover {
	color: rgb(240,240,240);
}

.menu-item-list {
	background-color: rgb(224,224,224);
	border: 0.125em ridge rgb(192,192,192);
	margin-left: 4em;
	margin-top: -0.25em;
}

.t3h-logo {
	background: rgb(0,0,0);
	color: rgb(0,255,0);
	border: 0.5em ridge rgb(192,192,192);
	font-family: "Courier New", Courier, monospace;
	height: 3em;
	position: relative;

	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;

	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.t3h-logo .logo1 {
	bottom: 0em;
	display: inline-block;
	font-size: 200%;
	left: 0.5em;
	letter-spacing: -0.09375em;
	position: absolute;
}

.t3h-logo .logo2 {
	bottom: 0em;
	display: inline-block;
	position: absolute;
	right: 2em;
}

.t3h-logo .black-magic {
	height: 100%;
	position: relative;
	width: 100%;
}

.t3h-logo .black-magic pre {
	color: rgba(0,255,0,0.25);
	display: inline-block;
	margin: 0em 1em 0em 1em;
	overflow: hidden;
	padding: 0em;
	position: absolute;
}

.t3h-logo .black-magic pre:nth-child(2) {
	left: 10%;
}

.t3h-logo .black-magic pre:nth-child(3) {
	left: 20%;
}

.t3h-logo .black-magic pre:nth-child(4) {
	left: 30%;
}

.t3h-logo .black-magic pre:nth-child(5) {
	right: 0%;
}

.t3h-logo .black-magic pre:nth-child(6) {
	color: rgba(0,255,0,0.5);
	font-size: 200%;
	right: 0%;
	top: 0%;
}

.l33t-stripes,
.stripe1,
.stripe2,
.stripe3,
.stripe4,
.stripe5,
.stripe6,
.stripe7,
.stripe8,
.stripe9,
.stripe10 {
	display: inline-block;
	position: absolute;
}

.l33t-stripes {
	height: 3em;
	left: 30%;
	position: relative;
}

.stripe1 {
	border-left: 1em solid rgba(224,224,224,0);
	border-top: 1.5em solid rgba(224,224,224,0);
	border-right: 1em solid rgba(224,224,224,0.3);
	border-bottom: 1.5em solid rgba(224,224,224,0.3);
}
.stripe2 {
	border-left: 1em solid rgba(224,224,224,0.3);
	border-top: 1.5em solid rgba(224,224,224,0.3);
	border-right: 1em solid rgba(224,224,224,0);
	border-bottom: 1.5em solid rgba(224,224,224,0);
	left: 2em;
}
.stripe3 {
	border-left: 1em solid rgba(224,224,224,0);
	border-top: 1.5em solid rgba(224,224,224,0);
	border-right: 1em solid rgba(224,224,224,0.4);
	border-bottom: 1.5em solid rgba(224,224,224,0.4);
	left: 4em;
}
.stripe4 {
	border-left: 1em solid rgba(224,224,224,0.4);
	border-top: 1.5em solid rgba(224,224,224,0.4);
	border-right: 1em solid rgba(224,224,224,0);
	border-bottom: 1.5em solid rgba(224,224,224,0);
	left: 6em;
}
.stripe5 {
	border-left: 1em solid rgba(224,224,224,0);
	border-top: 1.5em solid rgba(224,224,224,0);
	border-right: 1em solid rgba(224,224,224,0.5);
	border-bottom: 1.5em solid rgba(224,224,224,0.5);
	left: 8em;
}
.stripe6 {
	border-left: 1em solid rgba(224,224,224,0.5);
	border-top: 1.5em solid rgba(224,224,224,0.5);
	border-right: 1em solid rgba(224,224,224,0);
	border-bottom: 1.5em solid rgba(224,224,224,0);
	left: 10em;
}
/*
.stripe7 {
	border-left: 1em solid rgba(224,224,224,0);
	border-top: 1.5em solid rgba(224,224,224,0);
	border-right: 1em solid rgba(224,224,224,0.4);
	border-bottom: 1.5em solid rgba(224,224,224,0.4);
	left: 12em;
}
.stripe8 {
	border-left: 1em solid rgba(224,224,224,0.4);
	border-top: 1.5em solid rgba(224,224,224,0.4);
	border-right: 1em solid rgba(224,224,224,0);
	border-bottom: 1.5em solid rgba(224,224,224,0);
	left: 14em;
}
.stripe9 {
	border-left: 1em solid rgba(224,224,224,0);
	border-top: 1.5em solid rgba(224,224,224,0);
	border-right: 1em solid rgba(224,224,224,0.3);
	border-bottom: 1.5em solid rgba(224,224,224,0.3);
	left: 16em;
}
.stripe10 {
	border-left: 1em solid rgba(224,224,224,0.3);
	border-top: 1.5em solid rgba(224,224,224,0.3);
	border-right: 1em solid rgba(224,224,224,0);
	border-bottom: 1.5em solid rgba(224,224,224,0);
	left: 18em;
}
*/



/* header, footer, container */
#header,
#background,
#container,
#footer {
	min-width: 40em;
}

#header,
#footer {
	position: fixed;
	z-index: 1337;
}

#header {
	height: 7em;
	left: 0em;
	top: 0em;
	width: 100%;
}

#container {
	margin: 7em 1em 5em 1em;
}

#footer {
	bottom: 0em;
	left: 0em;
	width: 100%;
}

#footer .footer-content {
	border: 0.25em ridge rgb(192,192,192);
	border-bottom: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
	overflow: hidden;
	margin: 0em 0.5em;
	padding-bottom: 0.25em;
	text-align: center;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(192,192,192) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(192,192,192))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(192,192,192) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(192,192,192) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(192,192,192) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(192,192,192) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 1em 1em 0em 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	border-radius: 1em 1em 0em 0em;
}



/* t3h m4g1ck4ll l33t b4ckgr0und */
#background {
	background-color: transparent;
	min-height: 25em;
	position: fixed;
	width: 100%;

	left: 0em;
	top: 0em;
	z-index: -1337;
}

#background .circuits {
	position: absolute;
}

#background .circuit1,
#background .circuit2,
#background .circuit3,
#background .circuit4,
#background .circuit5 {
	top: 3em;
}

#background .circuit1 {
	height: 10em;
	left: 0em;
	top: 12em;

	border-left: transparent;
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(240,240,240,1);
}

#background .circuit2-1,
#background .circuit2-2,
#background .circuit3-1,
#background .circuit3-2 {
	height: 0em;
}

#background .circuit2-1,
#background .circuit3-1 {
	border-left: transparent;
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(240,240,240,1);
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit2-2,
#background .circuit3-2 {
	border-left: 1em solid rgba(240,240,240,1);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: transparent;
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit2-1,
#background .circuit2-2 {
	left: 1em;
}

#background .circuit2-1 {
	top: 11em;
}

#background .circuit2-2 {
	top: 12em;
}

#background .circuit3-1,
#background .circuit3-2 {
	left: 2em;
}

#background .circuit3-1 {
	top: 10em;
}

#background .circuit3-2 {
	top: 11em;
}

#background .circuit4 {
	height: 8em;
	left: 3em;

	border-left: 1em solid rgba(240,240,240,1);
	border-right: transparent;
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit5 {
	background-color: rgba(240,240,240,1);
	height: 15em;
	left: 5em;
	width: 1em;

	/*
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	*/
}

#background .circuit6 {
	height: 8em;
	left: 7em;

	border-left: transparent;
	border-right: 1em solid rgba(240,240,240,1);
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit7-1,
#background .circuit7-2 {
	height: 0em;
}

#background .circuit7-1 {
	border-left: 1em solid rgba(240,240,240,1);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: transparent;
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit7-2 {
	border-left: transparent;
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(240,240,240,1);
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit7-1,
#background .circuit7-2 {
	left: 8em;
}

#background .circuit7-1 {
	top: 7em;
}

#background .circuit7-2 {
	top: 8em;
}

#background .circuit8 {
	height: 5em;
	left: 9em;
	top: 8em;

	border-left: 1em solid rgba(240,240,240,1);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: transparent;
}

#background .circuit9-1,
#background .circuit10-5 {
	height: 3em;
	top: 4em;
	width: 1em;

	border-left: 1em solid rgba(0,0,0,0);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(240,240,240,1);
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit9-2,
#background .circuit10-4 {
	height: 0em;
	top: 6em;
	width: 0em;

	border-left: transparent;
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(0,0,0,0);
	border-bottom: 1em solid rgba(240,240,240,1);
}

#background .circuit9-4,
#background .circuit10-2 {
	height: 0em;
	top: 6em;
	width: 0em;

	border-left: 1em solid rgba(0,0,0,0);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: transparent;
	border-bottom: 1em solid rgba(240,240,240,1);
}

#background .circuit9-5,
#background .circuit10-1 {
	height: 3em;
	top: 4em;
	width: 1em;

	border-left: 1em solid rgba(240,240,240,1);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(0,0,0,0);
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit9-1 {
	left: 9em;
}

#background .circuit9-2 {
	left: 12em;
}

#background .circuit9-3 {
	background-color: rgba(240,240,240,1);
	height: 1em;
	left: 12em;
	top: 8em;
	width: 7em;
}

#background .circuit9-4 {
	left: 18em;
}

#background .circuit9-5 {
	left: 19em;
}

#background .circuit10-1 {
	right: 9em;
}

#background .circuit10-2 {
	right: 12em;
}

#background .circuit10-3 {
	background-color: rgba(240,240,240,1);
	height: 1em;
	right: 12em;
	top: 8em;
	width: 7em;
}

#background .circuit10-4 {
	right: 18em;
}

#background .circuit10-5 {
	right: 19em;
}

#background .circuit11,
#background .circuit12,
#background .circuit13,
#background .circuit14,
#background .circuit15 {
	top: 3em;
}

#background .circuit11 {
	height: 10em;
	right: 0em;
	top: 12em;

	border-left: 1em solid rgba(240,240,240,1);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: transparent;
}

#background .circuit12-1,
#background .circuit12-2,
#background .circuit13-1,
#background .circuit13-2 {
	height: 0em;
}

#background .circuit12-1,
#background .circuit13-1 {
	border-left: 1em solid rgba(240,240,240,1);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: transparent;
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit12-2,
#background .circuit13-2 {
	border-left: transparent;
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(240,240,240,1);
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit12-1,
#background .circuit12-2 {
	right: 1em;
}

#background .circuit12-1 {
	top: 11em;
}

#background .circuit12-2 {
	top: 12em;
}

#background .circuit13-1,
#background .circuit13-2 {
	right: 2em;
}

#background .circuit13-1 {
	top: 10em;
}

#background .circuit13-2 {
	top: 11em;
}

#background .circuit14 {
	height: 8em;
	right: 3em;

	border-left: transparent;
	border-right: 1em solid rgba(240,240,240,1);
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit15 {
	background-color: rgba(240,240,240,1);
	height: 15em;
	right: 5em;
	width: 1em;
}

#background .circuit16 {
	height: 8em;
	right: 7em;

	border-left: 1em solid rgba(240,240,240,1);
	border-right: transparent;
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit17-1,
#background .circuit17-2 {
	height: 0em;
}

#background .circuit17-1 {
	border-left: transparent;
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(240,240,240,1);
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit17-2 {
	border-left: 1em solid rgba(240,240,240,1);
	border-top: 1em solid rgba(0,0,0,0);
	border-right: transparent;
	border-bottom: 1em solid rgba(0,0,0,0);
}

#background .circuit17-1,
#background .circuit17-2 {
	right: 8em;
}

#background .circuit17-1 {
	top: 7em;
}

#background .circuit17-2 {
	top: 8em;
}

#background .circuit18 {
	height: 5em;
	right: 9em;
	top: 8em;

	border-left: transparent;
	border-top: 1em solid rgba(0,0,0,0);
	border-right: 1em solid rgba(240,240,240,1);
}



/* page styling */
#container {
	font-size: 90%;
}

#container ul {
	/*border: 1px solid black;*/
	list-style-type: square;
	margin: 0em 0em 3em 0em;
	padding: 1em;
}

#container ul.column-right {
	list-style-type: none;
}

#container ul li {
	margin-left: 4em;
}

#container pre {
	overflow: auto;
	margin: 0em 1em 3em 1em;
}

#container >ul {
	padding-bottom: 0em;
	padding-top: 0em;
}

#container .column-center {
	min-height: 20em;
	width: 60%;
}

#container .column-right {
	float: right;
	min-width: 20em;
	max-width: 40em;
	width: 30%;
}

#container .column-right li {
	margin: 0em;
	padding-bottom: 1em;
}

.title1 {
	background-color: rgba(192,192,255,0.5);
	border: 1px solid rgb(0,0,0);
	font-size: 125%;
	text-align: center;

	-webkit-border-radius: 0em 0em 0.5em 0.5em;
	-moz-border-radius: 0em 0em 0.5em 0.5em;
	border-radius: 0em 0em 0.5em 0.5em;
}

.title1 .title1-upper-border {
	background-color: rgba(128,128,192,0.5);
	border-bottom: 1px solid rgb(0,0,0);
	height: 0.5em;
	width: 100%;

	-webkit-border-radius: 0em 0em 0.5em 0.5em;
	-moz-border-radius: 0em 0em 0.5em 0.5em;
	border-radius: 0em 0em 0.5em 0.5em;
}

.title2,
.title3 {
	border: 1px solid rgb(0,0,0);
	display: inline-block;
	margin-left: 2em;
	padding: 0em 4em 0em 4em;

	-webkit-border-radius: 0.5em 0.5em 0em 0em;
	-moz-border-radius: 0.5em 0.5em 0em 0em;
	border-radius: 0.5em 0.5em 0em 0em;
}

.title2 {
	background-color: rgba(192,192,255,0.5);
}

.title3 {
	background-color: rgba(192,255,192,0.5);
}

.title4 {
	background-color: rgba(192,255,192,0.5);
	border: 1px solid rgb(0,0,0);
	cursor: pointer;
	display: inline-block;
	padding: 0em 2em 0em 2em;
	margin-left: 4em;

	-webkit-border-radius: 0.5em 0.5em 0em 0em;
	-moz-border-radius: 0.5em 0.5em 0em 0em;
	border-radius: 0.5em 0.5em 0em 0em;
}

.title4_off:after {
	content: "\25B2";
}

.title4_on:after {
	content: "\25BC";
}

.title4:hover {
	background-color: rgba(64,192,64,0.5);
}



.veeb-widget {
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
}

.veeb-widget {
	border: 1px solid rgb(0,0,0);
	font-family: "Courier New", Courier, monospace;
	letter-spacing: -0.0625em;
}

.veeb-widget {
	margin: 0.5em;
	padding: 0.5em;
}

.veeb-widget .subcategory {
	cursor: pointer;
	margin-left: 1em;
}

.veeb-widget .header {
	font-weight: bold;
	margin-bottom: 0.25em;
}

.veeb-widget .big-header {
	font-size: 150%;
	text-align: left;
}

.veeb-widget .medium-header,
.veeb-widget .small-header {
	text-align: center;
}

.veeb-widget .medium-header {
	font-size: 110%;
}

.veeb-table-wrapper .header .progress,
.veeb-table-wrapper .header .info {
	margin-left: 1em;
}

.veeb-table-wrapper table {
	border-collapse: collapse;
	font-size: 100%;
	margin-bottom: 1.25em;
}

.veeb-table-wrapper .ui-resizable {
	border: 4px ridge rgb(160,160,160);
	display: block;
	margin: 0em 0.5em 0em 0.5em;
	min-height: 5em;
	min-width: 20em;
	height: 30em;
	width: 78em;
	overflow: auto;
}

.veeb-table-wrapper table select {
	margin: 0em;
	padding: 0em;
}

.veeb-table-wrapper table th,
.veeb-table-wrapper table td {
	border: 1px solid rgb(0,0,0);
}

.veeb-table-wrapper table td {
	cursor: text;
	min-width: 5em;
	overflow: hidden;
	text-align: right;
	white-space: nowrap;
}

.veeb-table-wrapper table tbody .limited-width {
	min-width: 10em;
	max-width: 10em;
	text-align: center;
}

.veeb-table-wrapper table thead .limited-width-short {
	min-width: 2em;
	max-width: 2em;
	overflow: hidden;
	text-align: center;
}

.veeb-table-wrapper table tbody .limited-width-short {
	min-width: 2em;
	max-width: 2em;
	text-align: center;
}

.veeb-table-wrapper table tbody .non-numeric {
	text-align: left;
}

.veeb-table-wrapper table tbody .link {
	text-align: center;
}

.veeb-table-wrapper table tbody tr td:first-child {
	cursor: pointer;
}

.veeb-table-wrapper table td button[name="save"] {
	width: 100%;
}

.veeb-table-wrapper table td input,
.veeb-table-wrapper table td textarea {
	border: none;
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	font-weight: bold;
	letter-spacing: -0.0625em;
	margin:0em;
	outline: 1px solid rgb(255,0,0);
	padding:0em;
	text-align: inherit;
	z-index: 10;
}

.veeb-table-wrapper table td input[type="checkbox"] {
	margin-right: 0.5em;
	outline: none;
}

.veeb-table-wrapper table th,
.header {
	text-transform: capitalize;
}

.veeb-table-wrapper table th {
	cursor: pointer;
	font-weight: bold;
	padding: 0em 0.25em 0em 0.25em;
}